* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.125rem;
}

.title {
  font-size: 2rem;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk p {
  font-size: 1.25rem;
  max-width: 340px;
  line-height: 1.4;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  padding: 16px;
  padding-bottom: 32px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1.25rem;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  padding: 16px;
  padding-top: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: 0px;
  width: fit-content;
}
